{include file="common/header" title="$title" /}
<form role="form" action="{:url('add_chara_check')}" method="post">
    <div class="form-group">
        <label for="name">角色名称：</label>
        <input type="text" name="name" class="form-control" placeholder="角色全名" required>
    </div>
    <div class="form-group">
        <label for="season_pass">所属季票：</label>
        <select id="season_pass" name="season_pass" class="form-control" required>
            <option value="0">首发角色</option>
            <option value="1">第一季票角色</option>
            <option value="2">第二季票角色</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary btn-block">提交</button>
</form>
{include file="common/footer" /}
