{include file="common/header" title="$title" /}
<form role="form" action="{:url('add_customer_check')}" method="post">
    <div class="form-group">
        <label for="cno">玩家ID：</label>
        <input type="text" name="cno" class="form-control" placeholder="玩家唯一ID">
    </div>
    <div class="form-group">
        <label for="name">玩家名称：</label>
        <input type="text" name="name" class="form-control" placeholder="玩家昵称">
    </div>
    <div class="form-group">
        <label for="address">地区：</label>
        <input type="text" name="address" class="form-control" placeholder="所在地区">
    </div>
    <div class="form-group">
        <label for="gno">主力角色：</label>
        <select name="gno" class="form-control">
            <option value="SOL">SOL BADGUY</option>
            <option value="KY">KY KISKE</option>
            <option value="MAY">MAY</option>
            <option value="AXL">AXL LOW</option>
            <option value="CHIPP">CHIPP ZANUFF</option>
            <option value="POTEMKIN">POTEMKIN</option>
        </select>
    </div>
    <div class="form-group">
        <label for="buy">活跃状态：</label>
        <label class="radio-inline">
            <input type="radio" name="buy" value="1" checked> 活跃
        </label>
        <label class="radio-inline">
            <input type="radio" name="buy" value="0"> 不活跃
        </label>
    </div>
    <button type="submit" class="btn btn-primary btn-block">提交</button>
</form>
{include file="common/footer" /}