{include file="common/header" title="$title" /}
<form role="form" action="{:url('del_player_check')}" method="post">
  <div class="form-group">
    <label for="cno">选择要删除的玩家：</label>
    <select id="cno" class="form-control" name="cno" required>
      {volist name="customers" id="vo"}
        <option value="{$vo.cno}">{$vo.cno} - {$vo.name}</option>
      {/volist}
    </select>
  </div>
  <button type="submit" class="btn btn-danger btn-block">确认删除</button>
</form>
{include file="common/footer" /}
